<div>
  <div>
    <h2>Recipe <%=@recipe.id%></h2>
  </div>
  <div>
    <div>
      <p>Preparation time: <%= @recipe.preparation_time%></p>
      <p>Cooking time: <%= @recipe.cooking_time%></p>
      <p>Steps go here...</p>
    </div>
    <div>
      <%= form_with model:[@recipe], url:recipe_path(@recipe.id) do |form| %>
        <%= form.label :public %>
        <%= form.check_box :public, checked:@recipe.public %> <br />
      <%end%>
    </div>
  </div>
  <div>
    <button>
      <%= link_to 'Generate shopping list', recipe_path(@recipe.id) %>
    </button>
    <button>
      <%= link_to 'Add ingredient', recipe_path(@recipe.id)%>
    </button>
  </div>
  <hr>
  <div>
    <table>
      <tr>
        <th>Food</th>
        <th>Quntity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>food name</td>
        <td>number of Quntity</td>
        <td>food price</td>
        <td> <button>
            <%= link_to 'Modify', recipe_path(@recipe.id) %>
          </button>
          <button>
            <%= link_to 'Remove', recipe_path(@recipe.id)%>
          </button></td>
      </tr>
    </table>
  </div>
</div>
