<div class="mt-4">
    <div class=" text-center mb-4">
        <h2>Shopping List</h2>
    </div>

    <div class="d-flex justify-content-between mb-4">
        <h5>Amount of food items to buy: <%=  @total_food_items %></h5>
        <h5>Total value of food needed: <%= @total_food_items > 0 ? number_to_currency(@total) : '$0' %></h5>
    </div>

    <table class="table table-stripped">
        <thead class="thead">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total price</th>
            </tr>
        </thead>
        <tbody>
            <% if @total_food_items > 0 %>
                <% @shopping_list.each do |food| %>
                <% total = food[1] - food[2] %>
                <tr>
                    <td><%= food[0] %></td>
                    <td><%= total %></td>
                    <td><%= number_to_currency(total * food[3]) %></td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
