<div class="mt-4">
    <div class="d-flex align-items-center justify-content-between mb-5">
        <h2 class="m-0">Foods</h2>
        <%= link_to "Add new food", new_food_path, class: "btn btn-outline-primary btn-gradient" %>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
            <th>Name</th>
            <th>Measurement Unit</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @foods.each do |food| %>
            <tr>
                <td><%= food.name %></td>
                <td><%= food.measurement_unit %></td>
                <td><%= food.quantity %></td>
                <td><%= number_to_currency(food.price) %></td>
                <td><%= button_to "Delete", food, class: "btn btn-sm btn-outline-danger btn-gradient", data: {turbo: false}, method: :delete %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
